@import "tailwindcss";
html{
  background: #030511;
}
#app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: aliceblue;
}
body{
  overflow-x: hidden;
}

button{
  @apply bg-blue-500 border hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}

::-webkit-scrollbar{
  height: 4px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #696969;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #223750;
}
select,input ,textarea{
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}